@model IEnumerable<FoodHygieneMVC.Models.Establishment>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>
 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocalAuthorityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Star5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Star4)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Star3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Star2)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Star1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarExcept)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalAuthorityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <th>
                @Html.DisplayFor(model => item.Star5)
            </th>
            <th>
                @Html.DisplayFor(model => item.Star4)
            </th>

            <th>
                @Html.DisplayFor(model => item.Star3)
            </th>
            <th>
                @Html.DisplayFor(model => item.Star2)
            </th>

            <th>
                @Html.DisplayFor(model => item.Star1)
            </th>
            <th>
                @Html.DisplayFor(model => item.StarExcept)
            </th>
            
        </tr>
        }
    </tbody>
</table>